<% if @domain %>
<div class="wrapper">
    <!-- width of 100% makes it fit nicely in the sidebar even if the sidebar is in narrow mode -->
    <a href='http://siteanalytics.compete.com/<%= h @domain %>/?metric=uv'><img src='http://grapher.compete.com/<%= h @domain %>_uv_310.png' width="100%" /></a>
</div>
<% end %>
